.booking-title {
    font-family: var(--primary-font-regular);
    font-size: 4rem;
    padding: 0;
    margin-bottom: 3rem;
}

.booking-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5rem;
    font-family: var(--primary-font-regular);
    border: 1px solid var(--black);
    padding: 1rem;
    margin-bottom: 3rem;
}

#bookingForm {
    flex: 1;
    min-width: 50%;
}

#bookingForm input, #bookingForm select {
    display: block;
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid var(--black);
    border-radius: 0.25rem;
}

#bookingForm label {
    font-size: 1.25rem;
}

#bookingForm select {
    cursor: pointer;
}

#bookingForm p {
    font-family: var(--primary-font-semibold);
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

#bookingForm button {
    color: var(--white);
    background-color: var(--beige-dark);
    font-family: var(--secondary-font);
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

#bookingForm button:hover {
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.3); 
    transform: translateY(-3px);
}

#bookingForm button, #bookingForm p {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1rem 1rem 0;
}

/* Flatpickr calendar styling */
.flatpickr-disabled {
    background-color: #B74E4E!important;
    color: var(--white) !important; 
}

.flatpickr-day.selected {
    background-color: var(--beige-dark) !important;
    border-color: var(--beige-dark) !important;
 }

.hidden-calendar {
    visibility: hidden;
}

fieldset {
    margin: 2rem 0;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

fieldset label {
    display: flex;
    gap: 1.5rem;
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
}

fieldset input[type="checkbox"] {
    margin: 0;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    accent-color: var(--beige-dark);
}

legend {
    font-family: var(--primary-font-semibold);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#transfer_code {
    width: 24rem;
}

.info-icon {
    display: inline-block;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
}

.info-icon:hover {
    opacity: 0.5;
}

/* Popup styling */
.info-popup {
    position: absolute;
    display: none;
    background-color: var(--white);
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    color: #333;
    z-index: 1000;
}

.info-popup.visible {
    display: block;
}

.room-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 1rem;
}

.room-card {
    margin-top: 3rem;
    width: 70%;
}

.room-preview .room-card.hidden {
    display: none;
}