.booking-title {
    font-family: var(--primary-font-regular);
    font-size: 4rem;
    font-weight: 400;
    padding: 0;
    margin-bottom: 3rem;
}

.booking-container {
    display: flex;
    gap: 2rem;
    font-family: var(--primary-font-regular);
}

#bookingForm {
    border: 1px solid var(--black);
    padding: 1rem;
    margin-bottom: 3rem;
}

/* Flatpickr calendar styling */
.flatpickr-disabled {
    background-color: #ccc !important;
    color: #888 !important; 
}

.hidden-calendar {
    visibility: hidden;
}

fieldset {
    max-width: 50%;
}

.room-preview {
    flex: 1;
    padding: 1.5rem;
}

.room-preview img {
    width: 100%;
    height: auto;
}

.room-preview h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}