* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--primary-font-regular);
}

header {
    width: 100%;
    padding: 1.5rem;
    background-color: var(--beige-dark);
}


/* Admin Login Styling */
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
}

.logo-img {
    width: 2rem;
    height: auto;
    margin-right: 1rem;
}

.logo p {
    font-family: var(--secondary-font);
    font-size: 1.5rem;
}

.logo-img:hover {
    opacity: 0.5;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/assets/images/forest-haven-hotel-2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-container {
    width: 30%;
    padding: 2rem;
    margin-top: 16rem;
    background-color: rgba(var(--beige-light-rgb), 0.9);
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    color: var(--black);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--black);
}

.input-group {
    width: 70%;
    text-align: left;
    margin-bottom: 2rem;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--black);
    border-radius: 0.25rem;
}

.button-group {
    display: flex;
    gap: 2rem;
    align-items: center;
}

form button {
    color: var(--white);
    background-color: var(--beige-dark);
    font-family: var(--secondary-font);
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
}

form button:hover {
    opacity: 0.8;
}

.back-button {
    font-size: 1.25rem;
    color: var(--black);
    text-decoration: none;
}

.back-button:hover {
    text-decoration: underline;
}
